#body{
display: flex;
flex-direction: column;
justify-content: space-around;
} 

#result{
text-align: center;
font-size: 90px;
margin:30px;
font-family:'Roboto', sans-serif;
font-weight: bolder;
}
#calculate{
flex-direction: row;
justify-content: space-evenly;
text-align: center;
margin:20px;

}

#add{
width:10vh;
height: 10vh;
border-radius: 10px;
border: solid rgb(163, 162, 162);
background: rgb(163, 162, 162);
font-size: 40px;
font-family: 'Roboto', sans-serif;
color:white;
}
#add:hover{
    background-color: white;
    color: rgb(163, 162, 162);
}

.input{
    font-family:'Roboto', sans-serif; 
    width: 20vh;
    height: 9vh;
    border-radius: 10px;
    border: solid rgb(163, 162, 162);
    font-size:40px;
    text-align: center;
    
}

#subtract{
    width:10vh;
    height: 10vh;
    border-radius: 10px;
    border: solid rgb(163, 162, 162);
    background: rgb(163, 162, 162);
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    color:white;
}
#subtract:hover{
    background-color: white;
    color: rgb(163, 162, 162);
}